/src/__pycache__/
/src/paeon/__pycache__/
/src/paeon/model/__pycache__/
/src/paeon/file/__pycache__/
/src/paeon/csv/__pycache__/
/src/paeon/converter/__pycache__/
/src/paeon/html/__pycache__/
/src/paeon/odt/__pycache__/
/src/paeon/aeon/__pycache__/
/test/__pycache__/
/test/workdir/
/lib/__pycache__/
